.App {
  /* text-align: center; */
  color: black; 
  font-style: normal;
  font-family: Urbanist;  
  font-size: 16;
  width: 100%;
}

.todo-list{
  /* padding-left: 100px;     */
  padding-top: 50px;
  width: 100%;
  /* padding-right: 100px; */
}

.todo{
  padding-bottom: 25px;
  padding-left: 80px;
  flex-direction:row;
}

.todo-text{
  width: 20%;
  text-overflow: ellipsis;
  white-space: nowrap; 
  overflow: hidden;
}


.edit{ 
  display: flex;  
  flex-direction:row;
  /* align-items: flex-start; */
}

.presentation-container7{
  display: flex;  
  width: 100%; 
}

.h1{
  color: black;
}

.presentation-container3{
  padding: 0 70px 30px 30px;
  display: flex;  
  flex-direction:row;
  
  justify-content: space-evenly;

}



.App-logo {
  height: 40vmin;
  
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
